<h1>Edit Type</h1>
<%- include("../partials/errors.ejs") %>
<form action="/types/<%= type.id %>/update" method="POST">
  <label for="name">Type: </label>
  <input type="text" name="name" id="name" value="<%= type.name %>" />
  <button type="submit">Submit</button>
</form>
<a href="/types">Return</a>