<h1>Add Type</h1>
<%- include("../partials/errors.ejs") %>
<form action="/types" method="POST">
  <label for="name">Type: </label>
  <input type="text" name="name" id="name" />
  <button type="submit">Submit</button>
</form>
<a href="/types">Return</a>