<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Type</title>
  </head>
  <body>
    <h1>Type Details</h1>
    <p>ID: <%= type.id %>, Name: <%= type.name %></p>
    <ul>
      <% for (const pokemon of pokemons) { %>
        <li><a href="/pokemon/<%= pokemon.id %>"><%= pokemon.name %></a></li>
      <% } %>
    </ul>
    <a href="/types">Return</a>
  </body>
</html>
