<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Type</title>
  </head>
  <body>
    <h1>Type Details</h1>
    <p>ID: <%= type.id %>, Name: <%= type.name %></p>
    <a href="/types">Back to home</a>
  </body>
</html>
