<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pokemon</title>
  </head>
  <body>
    <h1>Pokemon List</h1>
    <ul>
      <% if (locals.pokemons) {%> <% pokemons.forEach(pokemon => { %>
      <li>
        ID: <%= pokemon.id %>, Name: <%= pokemon.name %>
        <a href="pokemon/<%= pokemon.id %>">View</a>
      </li>

      <% }); %> <% } %>
    </ul>
    <a href="/pokemon/new">Add Pokemon</a>
  </body>
</html>
