<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add Pokemon</title>
  </head>
  <body>
    <h1>Add Pokemon</h1>
    <%- include("../partials/errors.ejs") %>
    <form action="/pokemon" method="POST">
      <label for="name">Pokemon: </label>
      <input type="text" name="name" id="name" />
      <button type="submit">Submit</button>
    </form>
    <a href="/pokemon">Back to home</a>
  </body>
</html>
